/*Add external fonts from Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

h1{
  font-family: 'Roboto', sans-serif;

}

@import url(https://fonts.googleapis.com/css?family=Playball|Open+Sans+Condensend:300);

body {
background-color: snow;
}
.pane {
  background: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?cs=srgb&dl=4k-wallpaper-close-up-dew-807598.jpg&fm=jpg);
  background-size: cover;
}

.editor {
  background: rgba(0, 0, 0, .75);
}
