div {
    background-color: lightblue;
    width:-webkit-fill-available;
}


@media (min-width: 768px)
.container {
    width: 100%;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: inherit;
    margin-left: inherit;
    width:-webkit-fill-available;
}

.carousel_slide {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: inherit;
  margin-left: inherit;
  width:-webkit-fill-available;
}

element.style {
    width: -webkit-fill-available;
}
img {
    vertical-align: middle;
    border-style: none;
}

body {
    margin: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    box-sizing: inherit;
    width: inherit;
    display: block;
}
